# This is an example `.env` file.  `manage.py` will load
# settings found in that file into the environment.

DATABASE_NAME=database_name
DATABASE_USER=database_user
DATABASE_PASSWORD=password
DATABASE_HOST=localhost
DATABASE_PORT=5432

SNOWFLAKE_USER=username
SNOWFLAKE_PASSWORD=password
SNOWFLAKE_ACCOUNT=account
SNOWFLAKE_WAREHOUSE=warehouse
SNOWFLAKE_DATABASE=databasenanme
SNOWFLAKE_SCHEMA=schema