{% extends 'home.html' %}

{% block content %}

<div class="container">
    <h2>List of Streamers</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Balance</th>
            <th>Actions</th> 
        </tr>
        {% for streamer in streamers %}
            {% if forloop.counter <= 10 %}
                <tr>
                    <td>{{ streamer.id }}</td>
                    <td>{{ streamer.username }}</td>
                    <td>{{ streamer.email }}</td>
                    <td>{{ streamer.balance }}</td>
                    <td>
                        <form action="{% url 'update_balance' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="streamer_id" value="{{ streamer.id }}">
                            <input type="number" name="new_balance" step="0.01" placeholder="New Balance">
                            <button type="submit" class="btn">Change Balance</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% empty %}
            <tr>
                <td colspan="3">No streamers found.</td>
            </tr>
        {% endfor %}
    </table>

    <span>Total streamers: {{ streamers|length }}</span>
</div>

{% include 'purchase_game.html' %}

{% endblock %}
